<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.wakemeski"
      android:versionCode="4"
      android:versionName="2.2"
      >
      	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
      	<uses-permission android:name="android.permission.WAKE_LOCK"/>
		<uses-permission android:name="android.permission.VIBRATE"/>
		<uses-permission android:name="android.permission.WRITE_SETTINGS" />
		<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
		<uses-permission android:name="android.permission.INTERNET" />
		<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
		<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
		<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
          
    <application android:icon="@drawable/icon" android:label="@string/app_name"
    			android:debuggable="true" android:name=".WakeMeSki">
        <activity android:name=".ui.WakeMeSkiPreferences"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.WakeMeSkiDashboard"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.AlertsActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ReportActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.LocationFinderActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ResortListActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <receiver android:name=".ui.OnAlarmReceiver"></receiver>
        <receiver android:name=".ui.OnUpgradeReceiver">
        	<intent-filter>
        		<!-- see http://groups.google.com/group/android-developers/browse_thread/thread/697e7e7cc6dd3d1f/f1bb447b4d38ee57?#f1bb447b4d38ee57 
        		I can't figure out a way to notify of my own package install.
        		-->
        		<action android:name="android.intent.action.PACKAGE_REPLACED"/>
        		<data android:scheme="package" />
        	</intent-filter>
        </receiver>
        <service android:name=".core.WakeMeSkiAlertService"></service>
        <service android:name=".core.WakeMeSkiWakeupService"></service>
        
        <!-- DeskClock related activities and services from DeskClock.xml -->
        <provider android:name="com.wakemeski.generic_deskclock.AlarmProvider" android:authorities="com.wakemeski" />
        
        
        <activity android:name="com.wakemeski.generic_deskclock.AlarmClockBase"
                android:label="@string/alarm_list_title"
                android:taskAffinity=""
                android:excludeFromRecents="true"
                android:configChanges="orientation|keyboardHidden|keyboard|navigation"
                >
        </activity>

        <activity android:name="com.wakemeski.generic_deskclock.SettingsActivity"
                android:label="@string/settings"
                android:taskAffinity=""
                android:excludeFromRecents="true"
                >
        </activity>

        <activity android:name="com.wakemeski.generic_deskclock.SetAlarm" android:label="@string/set_alarm"
                android:configChanges="orientation|keyboardHidden|keyboard|navigation" />

        <activity android:name="com.wakemeski.generic_deskclock.AlarmAlert"
                android:excludeFromRecents="true"
                android:theme="@style/alarm_alert"
                android:launchMode="singleInstance"
                android:taskAffinity=""
                android:configChanges="orientation|keyboardHidden|keyboard|navigation"/>

        <!-- This activity is basically the same as AlarmAlert but with a more
             generic theme. It also shows as full screen (with status bar) but
             with the wallpaper background. -->
        <activity android:name="com.wakemeski.generic_deskclock.AlarmAlertFullScreen"
                android:excludeFromRecents="true"
                android:theme="@android:style/Theme.Wallpaper.NoTitleBar"
                android:launchMode="singleInstance"
                android:taskAffinity=""
                android:configChanges="orientation|keyboardHidden|keyboard|navigation"/>

        <receiver android:name="com.wakemeski.generic_deskclock.AlarmReceiver">
            <intent-filter>
               <action android:name="com.wakemeski.generic_deskclock.ALARM_ALERT" />
               <action android:name="alarm_killed" />
               <action android:name="cancel_snooze" />
            </intent-filter>
        </receiver>

        <!-- This service receives the same intent as AlarmReceiver but it does
             not respond to the same broadcast. The AlarmReceiver will receive
             the alert broadcast and will start this service with the same
             intent. The service plays the alarm alert and vibrates the device.
             This allows the alert to continue playing even if another activity
             causes the AlarmAlert activity to pause. -->
        <service android:name="com.wakemeski.generic_deskclock.AlarmKlaxon">
            <intent-filter>
                <action android:name="com.wakemeski.generic_deskclock.ALARM_ALERT" />
            </intent-filter>
        </service>

        <receiver android:name="com.wakemeski.generic_deskclock.AlarmInitReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.wakemeski.generic_deskclock.AnalogAppWidgetProvider" android:label="@string/analog_gadget"
        	android:icon="@drawable/ic_widget_analog_clock">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/analog_appwidget" />
        </receiver>
        <!-- End of DeskClock related activities and services from DeskClock.xml -->
    </application>
    <uses-sdk android:minSdkVersion="7"
    		 	android:targetSdkVersion="8"/>
   
</manifest> 